# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# notebooks
*.ipynb_checkpoints/

# Shared objects
*.so

# Distribution / packaging
build/
*.egg-info/
*.egg

# Temporary files
*.swn
*.swo
*.swp

# Dataset symlinks
detectron/datasets/data/*
!detectron/datasets/data/README.md

# Generated C files
lib/utils/cython_*.c
detectron/utils/cython_*.c

# emacs temporary files:
*~



